/* Spacing */
.all-padding-1 {
  padding: 1rem;
}
.all-margin-1 {
  margin: 1rem;
}
.margin-r {
  margin-right: 0.5rem;
}
.margin-l {
  margin-left: 0.5rem;
}

.margin-b {
  margin-right: 0.5rem;
}
.margin-t {
  margin-left: 0.5rem;
}
